{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'cpass.css'%}">
  </head>
  <body >
    <div>
      <h4>Change Password</h4>
    </div>
  </div>
  <div class="navbar">
     {% include './manu.html'%}    
</div>
    <section class="container border border-4">

        <form name="frm" method="post">
            {% csrf_token %}
            {% for fm in frm %}
            <div class="form-group">
              {{fm.label_tag}}&nbsp;&nbsp; <span class="text-danger">{{fm.errors | striptags}}</span>
              {{fm}}
            </div>
            {%endfor%}

            <input type="submit" class="submit" value="Save Chanages">
            <!-- </div> -->
        </form>
       </section>
       <!-- {%if messages%}
                {%for msg in messages%}
                <script>
                    alert("Your Account UPDATE Successfully ")
                </script>
                {%endfor%}
                {%endif%} -->
  </body>
</html>