{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static 'bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'subRead.css'%}">
</head>
<body>
    <div class="container my-5">
        <div class="navbar">
            
            <!-- header end -->
            <!-- manu start -->
            {% include './manu.html'%}    
        </div>
    </div>    
    <h1 class="text-center">
     hello
    </h1>
    <div class="containers">
    {%for item in sub_read%}
    <ul>
        <li>{{item.sub_cont}}</li>
        
    </ul>
    {%endfor%}
    </div>
</body>
</html>